

<% if @vachanas and params[:start_letter] %>
<p> <span class="start_letter_header"> 
  <%= params[:start_letter] %> </span> 
  ಪದದಿಂದ ಪ್ರಾರಂಭವಾಗುವ ವಚನಗಳು - <b> ವಚನಕಾರ:</b> <span class="vachanakaara-name">  <a href="#myModal_<%= @vachanakaara.id %>" role="button"  data-toggle="modal" > <%= @vachanakaara.name %> </a>  </span>

</p>
<div class="results_list_div keywords_load">
 <%= render "vachanakaara_vachana_results" %>
</div>
<br />
<%= link_to "#{t :read_more}...", vachanakaara_path(params: params, :page => @vachanas.next_page), :class => 'load-more-vachanas',:disable_with => "#{t :please_wait}...", :remote => true if @vachanas.next_page %>

<% unless @vachanas.blank? %>
<div class="click_for_more"> 
	<%#= link_to "#{params[:start_letter]} ಪದದಿಂದ ಪ್ರಾರಂಬವಾಗುವ ಎಲ್ಲಾ ವಚನ" , "" %>
</div>
<% end %>

<div id="myModal_<%= @vachanakaara.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
     <span class="vachanakaara-name">
       <%= "#{@vachanakaara.name}" %>
     </span>
   </h3>
 </div>
 <div class="modal-body vachana-pop">
  <span> ಅಂಕಿತ ನಾಮ: </span> 
  <span> <%= @vachanakaara.ankitha_naama %> </span>
  <br /> <br />
  <span> ಕಾಲ: </span>
  <span> <%= @vachanakaara.time_period %> </span>
  <br /> <br />
  <span> ದೊರಕಿರುವ ವಚನ: </span> 
  <span> <%= @vachanakaara.vachana_found %> </span>
  <br /> <br />
  <span> ತಂದೆ ತಾಯಿ: </span> 
  <span> <%= @vachanakaara.parents %> </span>
  <br /> <br />
  <span> ಹುಟ್ಟಿದ ಸ್ಥಳ: </span> 
  <span> <%= @vachanakaara.birth_place %> </span>

  <br /> <br />
  <span>   ಪರಿಚಯ: </span> 
  <span> <%= @vachanakaara.information %> </span>
</div>
<div class="modal-footer">


</div>
</div>

<% end %>

