 <% @vachanas.each do |vachana| %>

 <a href="#myModal_<%= vachana.id %>" role="button"  data-toggle="modal" >
  <div class="box effect5">

   <div class="vachana-concord-box"> 
     <div class="vachana-show-box"> 
       <span>  <%=  vachana.vachana %> </span> 
     </div>
     --------------
     <div class= "vachanakaara-name"> 
       <span  >
         <%= "#{vachana.vachanakaara.name}" %> 
       </span>
     </div>
   </div>

 </div>
</a>

<div id="myModal_<%= vachana.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
     <span class="vachanakaara-name">
       <%= "#{vachana.vachanakaara.name}" %>
     </span>
   </h3>
 </div>
 <div class="modal-body vachana-pop">
   <p id='fe_text_<%= vachana.id %>'><%= raw vachana.vachana.gsub(/\n/, '<br />') %> 

   </p>
 </div>
 <div class="modal-footer">
  <div class='demo-area'>
    <button class='btn d_clip_button' data-clipboard-target='fe_text_<%= vachana.id %>' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
    <%= image_tag("clipboard.jpg") %>
    </button>
  </div>
  <!-- ವಚನ ಕ್ರ.ಸಂ : <%= vachana.vachanaid %> -->
  <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> -->
  <!-- <button class="btn btn-primary">Save changes</button> -->
</div>
</div>



<% end %>


<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($(".d_clip_button"))
  });

  // $("#clear-test").on("click", function(){
  //   $("#fe_text").val("Copy me!");
  //   $("#testarea").val("");
  // });
</script>

