<div class="results_list_div keywords_load">
  <% @vachanas.each do |vachana| %>
    <a href="#myModal_<%= vachana.id %>" role="button" data-toggle="modal" >
      <div class="box effect5 vachana-concord-box">
        <div class="vachana-show-box"> 
          <span>  <%= vachana.vachana.truncate(200, separator: ' ') %> </span> 
        </div>
        --------------
        <div class="vachanakaara-name"> 
          <span>
            <%= vachana.vachanakaara.name %> 
          </span>
        </div>
      </div>
    </a>

    <div id="myModal_<%= vachana.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: left;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
         <span class="vachanakaara-name">
           <%= vachana.vachanakaara.name %>
         </span>
       </h3>
     </div>
<div class="modal-body vachana-pop">
        <p id="fe_text_<%= vachana.id %>"> <%= raw vachana.vachana.gsub(/\n/, '<br />') %> </p>
      </div>
      <div class="modal-footer">
       <div class="demo-area">
         <div class="modal-footer-left"> 
           ಸಮಗ್ರ ವಚನ ಸಂಪುಟ: <%= vachana.vachana_book_count %>
           &nbsp;
           ವಚನದ ಸಂಖ್ಯೆ:  <%= vachana.vachanaid %>
         </div>
          <a href="/vachanakaaras/<%= vachana.vachanakaara_id %>" class="vachanakaara-icon-link">
          <i class="fa fa-user"></i> 
      </a>
            <button class="btn btn-listen" onclick="speakVachana('fe_text_<%= vachana.id %>')" title="ವಚನವನ್ನು ಕೇಳಿ">
              <i class="fa fa-volume-up"></i>
            </button>
          <%= render "vachanas/bookmark_btn", vachana: vachana %>
            <button class="btn d_clip_button" data-clipboard-target="fe_text_<%= vachana.id %>" data-clipboard-text="Default clipboard text from attribute" id="d_clip_button" title="Click me to copy to clipboard.">
        <i class="fa fa-files-o fa-1x"></i>
      </button>
            <button class="btn btn-small" onclick="$(this).closest('.modal-footer').find('.feedback-inline').toggle()" title="ತಪ್ಪಿದ್ದರೆ ವರದಿ ಮಾಡಿ">
              <i class="fa fa-exclamation-triangle"></i>
            </button>
        </div>
          <div class="feedback-inline" style="display:none;margin-top:8px;">
            <%= render 'user_feedbacks/form', feedbackable_id: vachana.id, feedbackable_type: 'Vachana' %>
</div>

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($(".d_clip_button"))
  });
</script>
      </div>
      <%= render 'vachanas/related_vachanas_inline', vachana: vachana %>
    </div>
  <% end %>
</div>

