<div class="vachanakaara-list-edit span4"> 
  <% @vachanakaaras.each do |vachanakaara| %>
  <%= link_to "#{vachanakaara.name} --- #{vachanakaara.ankitha_naama}", edit_vachanakaara_path(vachanakaara) %> <br />
  <% end %>
</div>

<div class="span5"> 
  <%= form_for @vachanakaara do |f| %>
  <table> 
    ಹೆಸರು : <br /><%= f.text_field :name %> <br />
    ಅಂಕಿತ ನಾಮ: <br /><%= f.text_field :ankitha_naama %> <br />
    ತಂದೆ / ತಾಯಿ: <br /><%= f.text_field :parents %> <br />
    ಗಂಡ / ಹೆಂಡತಿ:<br /> <%= f.text_field :spouse %> <br />
    ಕಾಲ : <br /><%= f.text_field :time_period %> <br />
    ಸಿಕ್ಕಿರುವ ಒಟ್ಟೂ ವಚನ: <br /><%= f.number_field :vachana_found %> <br />
    ಗಂಡು / ಹೆಣ್ಣು :<br /> <%= f.select :sex, [['ಗಂಡು',true],['ಹೆಣ್ಣು ',false]] %> <br />
    ಪರಿಚಯ: <br /><%= f.text_area :information, style: "    height: 100px; width: 208px;" %> <br />
    <%= f.submit %>
  </table>
  <% end %>
</div>


<style>
  .vachanakaara-list-edit{
    border: 2px solid #F2F1F0;
    height: 570px;
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 5px;
    float: left;
    /*width: 100%;*/
  }
</style>