<%= render "layouts/search_box" %>
<div class="vachana-number-search"> 

  <%= form_tag search_vachanakaara_name_vachanakaaras_path,method: :get do %>
  <%= text_field_tag :vachanakaara_name,params[:vachanakaara_name],id: "search-vachanakaara-name", placeholder: "ವಚನಕಾರ" %>
  <%= submit_tag "#{t :search}", :disable_with => "#{t :please_wait}...",:class => 'btn btn-primary' %>

  <% end %>
</div>
<!-- <div class="main_heading">
<h1>ವಚನಕಾರರು </h1> 
</div> -->

<div class="row">
  <div class="span2">
  </div>
  <div class="span10">
    <div class="start_letter_vachanakaara_list">

      <% if @vachanakaaras %>

        <div class="results_list_div">

        <% @vachanakaaras.each do |vachanakaara| %>
          <a href="<%= vachanakaara_path(vachanakaara) %>" title="<%= vachanakaara.name  %>" >
            <div class="box effect5">
              <h5> 
                <%=  vachanakaara.name %> </h5>
                <div class="keyword_used_count"> 
                  <span>  </span> <br /> <br />
                  <span> ವಚನಕಾರರ ಪರಿಚಯ </span>
                </div>
              </div>
            </a>

            <% end %>
          </div>

          <% end %>
        </div>

      </div>
    </div>

    <script type='text/javascript'>
      var words = <%= raw Vachanakaara.pluck("name") %>;   
      $('#search-vachanakaara-name').typeahead({source: words}) 
    </script>