<%= render "layouts/search_box" %>

<%= render "layouts/back_button" %>

<div class="vachanakaara-header">
  <h1><%= @vachanakaara.name %> (<%= @vachanakaara.ankitha_naama %>)</h1>
  <p class="vachanakaara-meta">
    <% if @vachanakaara.time_period.present? %>
      <span><strong>ಕಾಲ:</strong> <%= @vachanakaara.time_period %></span>
    <% end %>
    <% if @vachanakaara.birth_place.present? %>
      <span><strong>ಹುಟ್ಟಿದ ಸ್ಥಳ:</strong> <%= @vachanakaara.birth_place %></span>
    <% end %>
    <% if @vachanakaara.parents.present? %>
      <span><strong>ತಂದೆ/ತಾಯಿ:</strong> <%= @vachanakaara.parents %></span>
    <% end %>
    <span><strong>ವಚನಗಳು:</strong> <%= @vachanakaara.vachanas.count %></span>
    <% if @vachanakaara.vachana_found.present? %>
      <span><strong>ದೊರಕಿರುವ ವಚನಗಳು:</strong> <%= @vachanakaara.vachana_found %></span>
    <% end %>
  </p>
  <% if @vachanakaara.information.present? %>
    <br>
    <p style="line-height:1.8;font-size:15px;margin:0;"><%= @vachanakaara.information %></p>
  <% end %>
  <button class="btn btn-mini btn-danger" style="margin-top:8px;" data-toggle="modal" data-target="#vachanakaara-feedback-modal">✏️ ತಪ್ಪು ಮಾಹಿತಿ ವರದಿ ಮಾಡಿ</button>
</div>

<div id="vachanakaara-feedback-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>ತಪ್ಪು ಮಾಹಿತಿ ವರದಿ ಮಾಡಿ</h3>
  </div>
  <div class="modal-body">
    <%= render 'user_feedbacks/form', feedbackable_id: @vachanakaara.id, feedbackable_type: 'Vachanakaara' %>
  </div>
</div>
<!-- <div class="main_heading">
</div>
-->
<!-- Person Schema for Vachanakaara -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": <%= raw @vachanakaara.name.to_json %>,
  "alternateName": <%= raw @vachanakaara.ankitha_naama.to_json %>,
  "description": <%= raw @vachanakaara.information.to_s.truncate(300, separator: ' ').to_json %>,
  "birthPlace": <%= raw @vachanakaara.birth_place.to_json %>,
  "knowsAbout": "ವಚನ ಸಾಹಿತ್ಯ",
  "url": "<%= vachanakaara_url(@vachanakaara) %>",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "<%= vachanakaara_url(@vachanakaara) %>"
  },
  "sameAs": [
    "https://vachana.sanchaya.net/vachanakaaras/<%= @vachanakaara.id %>"
  ]
}
</script>

<div class="row">
  <div class="span2">
    <p style="text-align:center;">ಪ್ರಾರಂಭದ ಅಕ್ಷರದ ಹುಡುಕು</p>
    <div class="aksharamaale">
      <% vowels.each do |letter| %>
      <a href="<%= vachanakaara_path(@vachanakaara, start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
        (<%= @vachanakaara_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% velars.each do |letter| %>
      <a href="<%= vachanakaara_path(@vachanakaara, start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
        (<%= @vachanakaara_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% palatals.each do |letter| %>
      <a href="<%= vachanakaara_path(@vachanakaara, start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
        (<%= @vachanakaara_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% retroflex.each do |letter| %>
      <a href="<%= vachanakaara_path(@vachanakaara, start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
        (<%= @vachanakaara_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% dentals.each do |letter| %>
      <a href="<%= vachanakaara_path(@vachanakaara, start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
        (<%= @vachanakaara_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% labials.each do |letter| %>
      <a href="<%= vachanakaara_path(@vachanakaara, start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
        (<%= @vachanakaara_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% unstructured_consonants.each do |letter| %>
      <a href="<%= vachanakaara_path(@vachanakaara, start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
        (<%= @vachanakaara_letter_counts[letter] || 0 %>)
      </span>
      <% end %>
    </div>
  </div>

  <div class="span10">
    <div class="start_letter_vachana_list">
      <%= render "vachanakaara_vachana_list" %>
    </div>
    <%= render "layouts/google_add" %>
  </div>
</div>
