<% if @keywords and params[:start_letter] %>
<h3> ಪದಪುಂಜಗಳು </h3>
<p> <span class="start_letter_header"> 
<%= params[:start_letter] %> </span> ಪದದಿಂದ ಪ್ರಾರಂಭವಾಗುವ ಪದಗಳು </p>

<div class="results_list_div">
  <% @keywords.each do |keyword| %>

<a href="<%= vachanas_path(vachana: keyword.word, search_type: "like_search") %>" title="<%=keyword.word  %>" >
  <div class="box effect5" style="height:auto;">
<h5> 
	<%=  keyword.word %> (<span style="color:#999999"> <%= keyword.vachana_ids.count %> </span> ,<span style="color:#4787AD"> <%= keyword.vachanakaara_ids.uniq.count %> </span>)</h5>

</div>
</a>
		
  <% end %>
</div>

<% unless @keywords.blank? %>

<div class="click_for_more"> 
	<%#= link_to "#{params[:start_letter]} ಪದದಿಂದ ಪ್ರಾರಂಬವಾಗುವ ಎಲ್ಲಾ ಪದಗಳು" , "" %>
</div>

<% end %>


<% end %>

