<%= render "layouts/search_box" %>


<div class="row">
  <div class="span3">
  	<div class="letter_list">
      <% vowels.each do |letter| %>
      <%= link_to letter, researches_path(start_letter: letter)  , remote: true %>
      <span class="vowels_count">
        (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
      </span>
      <% end %>
    </div>

    <div class="letter_list">
      <% velars.each do |letter| %>
      <%= link_to letter, researches_path(start_letter: letter) , remote: true  %>
      <span class="vowels_count">
        (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
      </span>
      <% end %>
    </div>

    <div class="letter_list">
      <% palatals.each do |letter| %>
      <%= link_to letter, researches_path(start_letter: letter) , remote: true  %>
      <span class="vowels_count">
        (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
      </span>
      <% end %>
    </div>


    <div class="letter_list">
     <% retroflex.each do |letter| %>
     <%= link_to letter, researches_path(start_letter: letter), remote: true  %>
     <span class="vowels_count">
      (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
    </span>
    <% end %>
  </div>

  <div class="letter_list">
    <% dentals.each do |letter| %>
    <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
    <span class="vowels_count">
      (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
    </span>
    <% end %>
  </div>

  <div class="letter_list">
    <% labials.each do |letter| %>
    <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
    <span class="vowels_count">
      (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
    </span>
    <% end %>
  </div>

  <div class="letter_list">
    <% unstructured_consonants.each do |letter| %>
    <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
    <span class="vowels_count">
      (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
    </span>
    <% end %>
  </div>

  <hr />

  <div class="keyword_used_count"> 
    <span class="badge badge-primary"> ವಚನದಲ್ಲಿ ಈ ಪದವು ಬಳಕೆಯಾಗಿದೆ  </span>

    <br /> <br />
    <span class="badge badge-info">  ವಚನಕಾರರು ಈ ಪದವನ್ನು ಬಳಸಿರುತ್ತಾರೆ </span>
  </div>

</div>
<div class="span8">
 <div class="start_letter_keyword_list">
  <%= render "keyword_list.html" %>
</div>

</div>
</div>