<h1 style="display:none;">ಪದಪುಂಜಗಳು</h1>
<%= render "layouts/search_box" %>

<div class="row">
<div class="span2">
<p style="text-align:center;">   ಪ್ರಾರಂಭದ ಅಕ್ಷರದ ಹುಡುಕು </p>
<div class="aksharamaale">
  <% vowels.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter)  , remote: true %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% velars.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true  %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% palatals.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true  %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>


  <% retroflex.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter), remote: true  %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% dentals.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% labials.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% unstructured_consonants.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>
  <div style="margin-top:10px;font-size:12px;text-align:center;line-height:1.8;">
    <span style="color:#cd5c5c;">ವಚನಗಳು</span>,
    <span style="color:#4682b4;">ವಚನಕಾರರು</span>
  </div>
  <hr />
</div>
</div>

<div class="span10">
 <div class="start_letter_keyword_list">
  <%= render "keyword_list.html" %>
</div>
</div>
</div>
