<%= render "layouts/search_box" %>

<div class="row">
<div class="span2">
<div class="aksharamaale">
  <% vowels.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter)  , remote: true %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% velars.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true  %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% palatals.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true  %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>


  <% retroflex.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter), remote: true  %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% dentals.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% labials.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>

  <% unstructured_consonants.each do |letter| %>
  <%= link_to letter, researches_path(start_letter: letter) , remote: true %>
  <span class="vowels_count">
    (<%= Concord.find_by_concord_code("key_word_#{letter}").count %>)
  </span>
  <% end %>
  <div class="keyword_used_count"> 
    <span class="badge badge-primary"> ವಚನದಲ್ಲಿ ಈ <br /> 
    ಪದವು ಬಳಕೆಯಾಗಿದೆ  </span>
<br /> <br /> 
    <span class="badge badge-info">  ವಚನಕಾರರು ಈ <br /> ಪದವನ್ನು 
    ಬಳಸಿರುತ್ತಾರೆ </span>
  </div>
  <hr />
</div>
</div>

<div class="span10">
 <div class="start_letter_keyword_list">
  <%= render "keyword_list.html" %>
</div>
</div>
</div>
