<div class="results_list_div">
  <% @results.each do |vachana| %>
  <%#= link_to "#{vachana.vachanakaara.name} (#{vachana.id})", vachana,class: "btn btn-mini " %>
  <a href="<%= vachana_path(vachana) %>" title="<%= vachana.vachanakaara.name  %>" >
    <div class="box effect5">
     <div class="vachana-concord-box"> 
     <span class= "btn btn-mini ">
         <%= "#{vachana.vachanakaara.name}(#{vachana.id})" %> 
     </span>
       <span> <br /> <%=  vachana.vachana %> </span> 
   </div>
</div>
</a>
<% end %>
</div>

<script type='text/javascript'>

    // jQuery(function(){
    //     var options = {
    //         exact:"partial",
    //         keys: "<%= params[:vachana] %> "
    //     }
    //     jQuery(document).SearchHighlight(options);
    // });

</script>