<div id="vachana_result" %>
<div class= "span3" style="margin-top: 100px;"> 
  <div class= "total_count_description"> 
    <% if @results  and  !@results.blank? %>
    <p class="lead">
ಈ ವಚನ ಸಂಗ್ರಹವು <%= Vachanakaara.count %> ವಚನಕಾರರ <%= Vachana.count %> ವಚನಗಳನ್ನು ಒಳಗೊಂಡಿದೆ.
</p>
<% end %>
</div>
</div>
<div class="span5">
	<% if @results %>
	<% if @results.blank?  %>
	<%= t :no_vachana_found %>
	
	<% else %>
<%= will_paginate @results  %>

	<div class="vacha_lists">
		<% @results.each do |result| %>
		<%= link_to "#{result.vachana.id} (#{result.vachana.vachanakaara.name})", result.vachana,class: "btn btn-mini " %>
		<p class="heighlight text-left"> <%= raw result.vachana.vachana.gsub(/\n/, '<br />') %> <span class="badge badge-info"><%= result.count %>   </span>  </p>
		<% end %>
	</div>
	<% end %>

	<% end %>
</div>



<div class= "span3" style="margin-top: 50px;">
    <% unless @results.blank? %>
    <div class="graph-space" >
<div id="container" style="width: 310px; height: <%=get_height_for_graph %>px; margin: 0 auto"></div>
</div>
<% end %>
 </div>
</div>


<script type='text/javascript'>

jQuery(function(){
    var options = {
        exact:"partial",
        keys: "<%= params[:vachana] %>"
    }
    jQuery(document).SearchHighlight(options);
});



var words = <%= raw WordList.pluck("name") %>;   
$('#search-word').typeahead({source: words})  


// high charts for graph 
<% unless @results.blank? %>


$(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '<%= t :vachanakaararu %>'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: <%= raw @vachanakaaras_name %>,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '<%= "#{t :padaviruva} #{t :vachanagalu}" %>',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' <%="#{t :vachana}" %>'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            
            credits: {
                enabled: false
            },
            series: [{
                name: '<%="#{t :total}" %>',
                data: <%= raw  @vachanakaaras_word_count %>
            }]
        });
    });
    

<% end %>


  $(document).ready(function(){

$('.highcharts-axis-labels text tspan').click(function(){
  
  
 var  linkk = $(this).siblings('tspan').text();
var id = parseInt(linkk);
var params = '<%= raw "vachana=#{params[:vachana]}&search_type=#{params[:search_type]}&vachanakaara=" %>' + id ;
window.location.href = "/vachanas/?" + params ;

  //$('body').on('click','.highcharts-axis-labels',function(){
  
  })
  })

</script>