
<div class="vachana_search_form">
	<% if @total_counts %>
	<div class=" total_count"> <p class="btn"> 
		ಒಟ್ಟು <span class="badge badge-info"> <%= @total_counts %> </span> 
		ಕಡೆಗಳಲ್ಲಿ,ಮತ್ತು
		<span class="badge badge-info"> <%= @vachanas.count %> </span> 
		ವಚನಗಳಲ್ಲಿ ಈ ಪದವು ಕಂಡುಬಂದಿದೆ

	</p>  </div>
	<% end %>

	<div class="search_box">
		<%= form_tag vachanas_path,name: "search_vachana",onsubmit: "return validateSearchForm()",method: :get do %>
		<%= text_field_tag :vachana, params[:vachana],class: "search-query", id: "search-word", placeholder: "ಹುಡುಕು",  autocomplete: "off", :'data-provide'=> "typeahead" %>
		ಇದರಂತೆ:<%= radio_button_tag :search_type, "like_search", params[:search_type] == "exact_search" ? false : true %>
		ಇದನ್ನು:<%= radio_button_tag :search_type, "exact_search", params[:search_type] == "exact_search" ? true : false %>
		<%= select_tag "vachanakaara", options_from_collection_for_select(@vachanakaras, "id", "name",params[:vachanakaara]), prompt: "ಎಲ್ಲಾ" %>
		<%= submit_tag "ಹುಡುಕು", :class => 'btn btn-primary' %>
		<% end %>
	</div>

</div>

<div class= "span3"> </div>
<div class="span6">
	<% if @vachanas %>
	<% if @vachanas.blank?  %>
	ಈ ಪದವು ಯಾವುದೇ ವಚನಗಳಲ್ಲಿ ದೊರಕಿಲ್ಲ
	
	<% else %>
	<div class="vacha_lists">
		<% @vachanas.each do |vachana| %>
		<%= link_to "#{vachana.first.id} (#{vachana.first.vachanakaara.name})", vachana.first,class: "btn btn-mini " %>
		<p class="heighlight text-left"> <%= raw vachana.first.vachana.gsub(/\n/, '<br />') %> <span class="badge badge-info"><%= vachana.second %>   </span>  </p>
		<% end %>
	</div>
	<% end %>

	<% end %>
</div>


<script type='text/javascript'>

jQuery(function(){
	var options = {
		exact:"partial",
		keys: "<%= params[:vachana] %>"
	}
	jQuery(document).SearchHighlight(options);
});



var words = <%= raw WordList.pluck("name") %>;   
$('#search-word').typeahead({source: words})  

</script>