<div class="vachana_search_form">
	<% if @total_counts %>
	<div class=" total_count"> <p class="btn"> 
		<%= t :total %> <span class="badge badge-info"> <%= @total_counts %> </span> 
		<%= "#{t :in_place} , " %>
<span class="badge badge-info"> <%= @vachanakaaras.count %> </span> 
<%= "#{t :vachanakaararu} ," %> 
		<span class="badge badge-info"> <%= @vachanas.count %> </span> 
		<%= "#{t :this_word_used_in_vachanas}" %>

	</p>  </div>
	<% end %>

	<div class="search_box">
		<%= form_tag vachanas_path,name: "search_vachana",onsubmit: "return validateSearchForm()",method: :get do %>
		<%= text_field_tag :vachana, params[:vachana],class: "search-query", id: "search-word", placeholder: "#{t :search}",  autocomplete: "off", :'data-provide'=> "typeahead" %>
		<%=t :like %> :<%= radio_button_tag :search_type, "like_search", params[:search_type] == "exact_search" ? false : true %>
		<%= t :exact %> :<%= radio_button_tag :search_type, "exact_search", params[:search_type] == "exact_search" ? true : false %>
		<%= select_tag "vachanakaara", options_from_collection_for_select(@vachanakaras, "id", "name",params[:vachanakaara]), prompt: "#{t :all}" %>
		<%= submit_tag "#{t :search}", :class => 'btn btn-primary' %>
		<% end %>
	</div>

</div>
<div class= "span3"> </div>
<div class="span5">
	<% if @vachanas %>
	<% if @vachanas.blank?  %>
	<%= t :no_vachana_found %>
	
	<% else %>
	<div class="vacha_lists">
		<% @vachanas.each do |vachana| %>
		<%= link_to "#{vachana.first.id} (#{vachana.first.vachanakaara.name})", vachana.first,class: "btn btn-mini " %>
		<p class="heighlight text-left"> <%= raw vachana.first.vachana.gsub(/\n/, '<br />') %> <span class="badge badge-info"><%= vachana.second %>   </span>  </p>
		<% end %>
	</div>
	<% end %>

	<% end %>
</div>

<div class= "span3">
	<% unless @vachanas.blank? %>
    <div class="graph-space" >
<div id="container" style="width: 310px; height: <%=get_height_for_graph %>px; margin: 0 auto"></div>
</div>
<% end %>
 </div>

<script type='text/javascript'>

jQuery(function(){
	var options = {
		exact:"partial",
		keys: "<%= params[:vachana] %>"
	}
	jQuery(document).SearchHighlight(options);
});



var words = <%= raw WordList.pluck("name") %>;   
$('#search-word').typeahead({source: words})  


// high charts for graph 
<% unless @vachanas.blank? %>
// $(function () {
//         $('#container').highcharts({
//             chart: {
//                 type: 'column'
//             },
//             title: {
//                 text: '<%= t :vachana%>'
//             },
//             subtitle: {
//                 text: ' '
//             },
//             xAxis: {
//                 categories:  <%= raw @vachanakaaras_name %>
//             },
//             yAxis: {
//                 min: 0,
//                 title: {
//                     text: '<%= t :vachanagalu %>'
//                 }
//             },
//             tooltip: {
//                 headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
//                 pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
//                     '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
//                 footerFormat: '</table>',
//                 shared: true,
//                 useHTML: true
//             },
//             plotOptions: {
//                 column: {
//                     pointPadding: 0.2,
//                     borderWidth: 0
//                 }
//             },
//             series: [{
//                 name: '<%= "#{t :total} #{t :vachana}"   %>',
//                 data: <%= raw @vachanakaaras_total_count %>
    
//             }, {
//                 name: '<%= "#{t :padaviruva} #{t :vachana}" %>',
//                 data: <%= raw  @vachanakaaras_word_count %>
    
//             }
//                     ]
//         });
//     });
    


$(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '<%= t :vachanakaararu %>'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: <%= raw @vachanakaaras_name %>,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '<%= "#{t :padaviruva} #{t :vachanagalu}" %>',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' <%="#{t :vachana}" %>'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            // legend: {
            //     layout: 'vertical',
            //     align: 'right',
            //     verticalAlign: 'top',
            //     x: -40,
            //     y: 100,
            //     floating: true,
            //     borderWidth: 1,
            //     backgroundColor: '#FFFFFF',
            //     shadow: true
            // },
            credits: {
                enabled: false
            },
            series: [{
                name: '<%="#{t :total}" %>',
                data: <%= raw  @vachanakaaras_word_count %>
            }]
        });
    });
    

<% end %>

</script>