<%= form_tag vachanas_path, method: :get do %>
<%= text_field_tag :vachana, params[:vachana] %>
<%= submit_tag "Search" %>
<% end %>

<% if @vachanas and !@vachanas.blank? %>
Total number of times used = <%= @total_counts %> <br />

<% @vachanas.each do |vachana| %>
<%= link_to vachana.first.name, vachana.first %>
<p class="heighlight"> <%= vachana.first.description %> (<%= vachana.second %> ) </p>
<br />
<% end %>
<% end %>

<script type='text/javascript'>

jQuery(function(){
		var options = {
			exact:"partial",
			keys: "<%= params[:vachana] %>"
		}
		jQuery(document).SearchHighlight(options);
	});

</script>