




<h1><%= @vachana.vachanakaara.name %> - ವಚನ <%= @vachana.vachanaid %></h1>

<!-- JSON-LD structured data for this vachana -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "name": <%= "#{@vachana.vachanakaara.name} - ವಚನ #{@vachana.vachanaid}".to_json %>,
  "author": {
    "@type": "Person",
    "name": <%= @vachana.vachanakaara.name.to_json %>
  },
  "description": <%= @vachana.vachana.to_s.truncate(200, separator: ' ').to_json %>,
  "inLanguage": "kn",
  "url": "<%= vachana_url(@vachana) %>"
}
</script>
<table class="table table-striped">
  <thead>
    <tr>

      <th></th>
      
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><%= raw @vachana.vachana.gsub(/\n/, '<br />') %></td> <!-- or we can use simple_format() rails helper -->
    </tr>
    <tr>
  <td><%=  @vachana.meaning %></td>

    </tr>
  </tbody>
</table>
<% if @vachana.reviewed? %>
<i class="fa fa-pencil-square-o" aria-hidden="true" title="ಪರಿಶೀಲಿಸಲಾಗಿದೆ"></i>
<% end %>
<!-- <%#= link_to 'Edit', edit_vachana_path(@vachana), :class => 'btn btn-primary'  %> | -->
<%= link_to_function 'Back', "history.back()", :class => 'btn btn-primary' %>
