<%= render "layouts/search_box" %>
<!-- <div class="main_heading">
</div>
 -->
<div class="row">
  <div class="span2">
  <div class="aksharamaale">
<% vowels.each do |letter| %>
<%= link_to letter, vachana_concord_vachanas_path(start_letter: letter) , remote: true %>
<span class="vowels_count">
(<%= Concord.find_by_concord_code("vachana_#{letter}").count %>)
</span>
<% end %>

<% velars.each do |letter| %>
<%= link_to letter, vachana_concord_vachanas_path(start_letter: letter) , remote: true  %>
<span class="vowels_count">
(<%= Concord.find_by_concord_code("vachana_#{letter}").count %>)
</span>
<% end %>

<% palatals.each do |letter| %>
<%= link_to letter, vachana_concord_vachanas_path(start_letter: letter) , remote: true  %>
<span class="vowels_count">
(<%= Concord.find_by_concord_code("vachana_#{letter}").count %>)
</span>
<% end %>


	<% retroflex.each do |letter| %>
<%= link_to letter, vachana_concord_vachanas_path(start_letter: letter), remote: true  %>
<span class="vowels_count">
(<%= Concord.find_by_concord_code("vachana_#{letter}").count %>)
</span>
<% end %>

<% dentals.each do |letter| %>
<%= link_to letter, vachana_concord_vachanas_path(start_letter: letter) , remote: true %>
<span class="vowels_count">
(<%= Concord.find_by_concord_code("vachana_#{letter}").count %>)
</span>
<% end %>

<% labials.each do |letter| %>
<%= link_to letter, vachana_concord_vachanas_path(start_letter: letter) , remote: true %>
<span class="vowels_count">
(<%= Concord.find_by_concord_code("vachana_#{letter}").count %>)
</span>
<% end %>

<% unstructured_consonants.each do |letter| %>
<%= link_to letter, vachana_concord_vachanas_path(start_letter: letter) , remote: true %>
<span class="vowels_count">
(<%= Concord.find_by_concord_code("vachana_#{letter}").count %>)
</span>
<% end %>
</div>
  </div>
  
  <div class="span10">
  	<div class="start_letter_vachana_list">
<%= render "vachana_concord_list.html" %>
 </div>

  

</div>
</div>