<h1 style="display:none;">ಅಕ್ಷರಾನುಕ್ರಮ ವಚನಗಳು</h1>
<%= render "layouts/search_box" %>

<div class="row">
  <div class="span2">
    <p style="text-align:center;">ಪ್ರಾರಂಭ ಪದದ ಹುಡುಕು</p>
    <div class="aksharamaale">
      <% vowels.each do |letter| %>
      <a href="<%= vachana_concord_vachanas_path(start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
         (<%= vachana_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% velars.each do |letter| %>
      <a href="<%= vachana_concord_vachanas_path(start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
         (<%= vachana_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% palatals.each do |letter| %>
      <a href="<%= vachana_concord_vachanas_path(start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
         (<%= vachana_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% retroflex.each do |letter| %>
      <a href="<%= vachana_concord_vachanas_path(start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
         (<%= vachana_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% dentals.each do |letter| %>
      <a href="<%= vachana_concord_vachanas_path(start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
         (<%= vachana_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% labials.each do |letter| %>
      <a href="<%= vachana_concord_vachanas_path(start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
         (<%= vachana_letter_counts[letter] || 0 %>)
      </span>
      <% end %>

      <% unstructured_consonants.each do |letter| %>
      <a href="<%= vachana_concord_vachanas_path(start_letter: letter) %>" data-letter="<%= letter %>"><%= letter %></a>
      <span class="vowels_count">
         (<%= vachana_letter_counts[letter] || 0 %>)
      </span>
      <% end %>
    </div>
    <%= render "layouts/google_add" %>
  </div>
  <div class="span10">
    <div class="start_letter_vachana_list">
      <%= render "vachana_concord_list.html" %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($(".d_clip_button"))
  });
</script>