<%= render "layouts/back_button" %>


<div class="page-header">
  <h2> ಸ್ವಾಗತ <%= current_user.name %>  </h2>
</div>

<div class="row">
 <%= render "publish_left" %>

 <div class="span8">

   ಪರೀಕ್ಷಿಕರ ಹೆಸರು: <%= @reviewed_vachana.user.name %> <br />
   ಪರೀಕ್ಷಿಕರ ಇ-ಮೇಲ್: <%= mail_to @reviewed_vachana.user.email %>
   <%= form_tag user_publishers_path(current_user.id), class: "review-vachana" do %>
   <%= hidden_field_tag :reviewed_vachana, @reviewed_vachana.id %>
   <%#= form_for [@reviewer,@review_vachana], html: {class: "form-inline review-vachana"} do |f| %>
   <div class="reviewer-right-box"> 
    <div class="review-box">
     <div class="control-group">
       ಮೂಲ ವಚನ:
     </div> 
     <div class="original-vachana-box"> 
      <%= raw @vachana.vachana.gsub(/\n/, '<br />') %>
    </div>

    <div class="original-vachana-lable">
     ಸಂಪುಟದ ಕ್ರಮಸಂಖ್ಯೆ:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanaid %>
   </div> 

   
   <div class="original-vachana-lable">
     ವಚನಕಾರ:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanakaara.name %>
   </div> 
   <div class="original-vachana-lable">
     ಸಮಗ್ರ ವಚನ ಸಂಪುಟ:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanakaara.reference_book ? @vachana.vachanakaara.reference_book.book_volume : "--"%>
   </div> 

 </div>

 <div class="review-box">
   <div class="control-group">
     ಪರಿಶೀಲಿಸಿದ ವಚನ:
   </div> 
   <div class="original-vachana-box"> 
    <%= raw @reviewed_vachana.review_vachana.gsub(/\n/, '<br />') %>
  </div>

  <div class="original-vachana-lable">
   ಪರಿಶೀಲಿಸಿದ ಕ್ರಮಸಂಖ್ಯೆ:
 </div> 

 <div class="original-vachana-input">
   <%= @reviewed_vachana.review_vachanaid %>
 </div> 


 <div class="original-vachana-lable">
   ವಚನಕಾರ:
 </div> 

 <div class="original-vachana-input">
   <%= @vachana.vachanakaara.name %>
 </div> 
 <div class="original-vachana-lable">
   ಸಮಗ್ರ ವಚನ ಸಂಪುಟ:
 </div> 

 <div class="original-vachana-input">
   <%= @vachana.vachanakaara.reference_book ? @vachana.vachanakaara.reference_book.book_volume : "--"%>
 </div> 

</div>

<div class="review-comment">  
  <div class="original-vachana-lable">
  ಪ್ರತಿಕ್ರಿಯೆ/ಸಲಹೆ/ಟಿಪ್ಪಣ:
  </div> 

  <div> 
    <%@comments.each do |comment| %>
    <%=  comment.user.name  %> : <%= comment.comment %>  <br />
    <% end %>

  </div>
<br />
 <%= text_area_tag :comment %>

</div>
<div class="review-vachana-submit">
 <%= submit_tag "Publish" ,class: 'btn btn-primary' %>
 <%= submit_tag "Comment and reject", value: "reject-review",  class: 'btn btn-danger' %>
</div>


</div>
<% end %> 

</div>


</div>






