<%= render "layouts/back_button" %>
<div class="row">
 <div class="span6"> 
   Reviewer Name: <%= @reviewed_vachana.user.name %> <br />
   Reviewer Email: <%= mail_to @reviewed_vachana.user.email %>
 </div>
 <div class="span6">
   <% if @reviewed_vachana.is_published? %>
   <btn class= "btn btn-success" > Published </btn>
   <% else %>
   <%= form_tag user_publishers_path(current_user.id) do %>
   <%= hidden_field_tag :reviewed_vachana, @reviewed_vachana.id %>
   <%= submit_tag "Publish" ,confirm: "Are You Sure To Publish" , class: "btn btn-primary"%>
   <% end %>
   <% end %>
 </div>
</div>
<div class="row">
  <div class="span6"> 
    <div class="review-box">
     <div class="control-group">
       Original Vachana:
     </div> 
     <div class="original-vachana-box"> 
      <%= raw @reviewed_vachana.vachana.vachana.gsub(/\n/, '<br />') %>
    </div>

    <div class="original-vachana-lable">
     Original Kramasanke:
   </div> 

   <div class="original-vachana-input">
     <%= @reviewed_vachana.vachana.vachanaid %>
   </div> 

   <div class="original-vachana-lable">
     Vachanakaara:
   </div> 

   <div class="original-vachana-input">
     <%= @reviewed_vachana.vachana.vachanakaara.name %>
   </div> 

 </div>
</div>

<div class="span6"> 
  <div class="review-box">
   <div class="control-group">
     Reviewed Vachana:
   </div> 
   <div class="original-vachana-box"> 
    <%= raw @reviewed_vachana.review_vachana.gsub(/\n/, '<br />') %>
  </div>

  <div class="original-vachana-lable">
   Reviewed Kramasanke:
 </div> 

 <div class="original-vachana-input">
   <%= @reviewed_vachana.review_vachanaid %>
 </div> 


</div>
</div>


</div>