<ol> 
  <li>  <%= link_to "Vachanakaara", edit_vachanakaara_path(Vachanakaara.first) %> </li>
  <li>  <%= link_to "Vachana", edit_vachana_path(Vachana.first) %> </li>
  <li>  <%= link_to "Reference Book", reference_books_path %> </li> 
  <li> <%= link_to "Users", users_path %> </li>
  <li> <%= link_to "Track Activity", activities_path %> </li>
  
</ol>

<%= link_to "Download KeyWords as CSV", download_keyword_csv_word_lists_path %> 

