<div class= "vachana_sangraha_heading">
  <h1> ವಚನ ಸಂಚಯ</h1>  

</div>


<%= render "layouts/search_box" %>
<div class="sangraha_desc">
  <p> ಈ ವಚನ ಸಂಗ್ರಹದಲ್ಲಿ <%= Vachanakaara.where(sex: true).count %> ಪುರುಷ ವಚನಕಾರರು, <%= Vachanakaara.where(sex: false).count %> ಸ್ತ್ರೀ ವಚನಕಾರ್ತಿಯರೂ ಒಳಗೊಂಡಂತೆ ಒಟ್ಟು  <%= Vachanakaara.count %> ವಚನಕಾರರ, <%=Vachana.count %>ಕ್ಕೂ ಹೆಚ್ಚು ವಚನಗಳಿವೆ.<br />
    ವಚನಗಳಲ್ಲಿರುವ ಒಟ್ಟು ಪದಗಳ ಸಂಖ್ಯೆ <%= KeyWord.count %> ಕೂ ಹೆಚ್ಚು. <br />
    ಈ ತಂತ್ರಾಂಶ ವಚನದಲ್ಲಿನ ಪದಗಳನ್ನು ಆಯಾ ವಚನ ಮತ್ತು ವಚನಕಾರರಿಗೆ ಸಂಪರ್ಕವೇರ್ಪಡಿಸಿ ನಿಮ್ಮ ಸಂಶೋಧನೆಗೆ ಸಹಕರಿಸುತ್ತದೆ. </P> 

    <div class="rand-vachana"> 
      <h3> ಇಂದಿನ ವಚನ </h3>
      <p> 
        <%= raw @vachana.vachana.gsub(/\n/, '<br />') %>
      </p>
      <span class="vachanakaara-name" style="margin-left:20%;"> --- <%= @vachana.vachanakaara.name %> </span>
    </div>



    <div class="vachana-wiki-info"> 
      
      <div class="tabbable"> 
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">ವಚನ ಸಾಹಿತ್ಯ</a></li>
          <li><a href="#tab2" data-toggle="tab">Vachana Sahitya</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <div class="wiki-info-kan"> 
              <%#= link_to image_tag("vachana_saahitya_wikipedia.png"), "https://en.wikipedia.org/wiki/Vachana_sahitya", target: "_blank" %>
              <hr />
              <small>ಕನ್ನಡ ವಿಕಿಪೀಡಿಯ, ಕನ್ನಡದ ಒಂದು ಸ್ವತಂತ್ರ ವಿಶ್ವಕೋಶ</small> <br /> <br />
              <p>
                ವಚನ ಸಾಹಿತ್ಯ ಕನ್ನಡದ ಸಾಹಿತ್ಯದ ಬಹು ಪ್ರಮುಖ ರೂಪಗಳಲ್ಲಿ ಒಂದು. ೧೧ನೇ ಶತಮಾನದಲ್ಲಿ ಉದಯಿಸಿ ೧೨ನೇ ಶತಮಾನದವರೆಗೂ ಲಿಂಗಾಯತರ ಆಂದೋಲನ ಭಾಗವಾಗಿ ಬೆಳೆದು ಬಂತು. ಇದು ಸಾಹಿತ್ಯ ಪರಿಭಾಷೆಯಾಗಿ ಒಂದು ಪ್ರಕಾರದ ಕಾವ್ಯ. ಹಾಡಿದರೆ ಹಾಡಾಗುವ, ಓದಿದರೆ ಗದ್ಯವಾಗುವ ಕನ್ನಡದ ವಿಶಿಷ್ಟ ಕಾವ್ಯ ಪ್ರಕಾರ. ವಚನ ಸಾಹಿತ್ಯವು ತನ್ನ ಕಾಲದಲ್ಲಿ ಅಭಿವ್ಯಕ್ತಿಗೆ ಸಂಗಾತಿಯಾಯಿತು.ವಚನ ಎಂದರೆ 'ಪ್ರಮಾಣ' ಎಂದರ್ಥ.
              </p><p>
              ಮಾದರ ಚೆನ್ನಯ್ಯ ಎಂಬ ೧೧ನೇ ಶತಮಾನದಲ್ಲಿ ದಕ್ಷಿಣದ ಚಾಲುಕ್ಯರ ಕಾಲದ ಸಂತ, ಈ ಸಾಹಿತ್ಯ ಸಂಸ್ಕೃತಿಯ ಮೊದಲ ಕವಿಯಾಗಿದ್ದು, ನಂತರ ಉತ್ತರದ ಕಲಾಚುರಿಯ ರಾಜ ಬಿಜ್ಜಳನ ಆಸ್ಥಾನದಲ್ಲಿ ಪ್ರಧಾನಮಂತ್ರಿಯಾಗಿದ್ದ ಬಸವಣ್ಣ (೧೧೬೦) ಇದರ ಪಿತಾಮಹನೆಂದು ಕರೆಸಿಕೊಳ್ಳುತ್ತಾರೆ.
            </p>

          </div>
        </div>
        <div class="tab-pane" id="tab2">
          <div class="wiki-info-eng"> 
            <hr />
            <small> From Wikipedia, the free encyclopedia</small>
            <br /> <br />
            <p>
              Vachana sahitya (Kannada: ವಚನ ಸಾಹಿತ್ಯ) is a form of rhythmic writing in Kannada (see also Kannada poetry) that evolved in the 11th Century C.E. and flourished in the 12th century, as a part of the Lingayatha 'movement'. Vachanas literally means "(that which is) said". These are readily intelligible prose texts.
            </p><p>
            Madara Chennaiah, an 11th-century cobbler-saint who lived in the reign of Western Chalukyas, is first poet of this tradition and was considered by later poets, such as Basavanna (1160), who was also the prime minister of southern Kalachuri King Bijjala II, as his literary father.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>



</div>
