 <div class="span4">
  <div class="reviewer-left-box"> 
    <%= form_tag user_review_vachanas_path(current_user), method: :get  do %>
    <%= select_tag :user_vachanakaara, options_from_collection_for_select(@vachanakaaras,  "id","name",@vachanakaara.id), onchange: "submit();" %>

    <% end %>
    
    <h5> ವಚನಗಳನ್ನು ಪರಿಶೀಲಿಸಿ </h5>
    <div class="reviewer-left-table"> 
      <% if @vachanas.blank? %>
      ಈ ವಚನಕಾರರ ವಚನಗಳು ಲಭ್ಯವಿಲ್ಲ 
      <% else %>
      <table class="table-bordered table-striped"> 
        <thead>
          <tr>
            <th style="padding: 2px;">ಕ್ರಮಸಂಖ್ಯೆ</th>
            <th>ವಚನ</th>
          </tr>
        </thead>
        <tbody>
          <% @vachanas.each do |vachana| %>
          <tr>
            <td style="text-align: center;"><%= link_to vachana.vachanaid, new_user_review_vachana_path(current_user,vachana_id: vachana.id) %></td>
            <td><%= link_to truncate(vachana.vachana, length: 35), new_user_review_vachana_path(current_user,vachana_id: vachana.id) , class: "btn-link" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

    </div>

    <h5>  ಪರಿಶೀಲಿಸಲಾಗಿರುವ ವಚನಗಳು</h5>

    <div class="reviewer-left-table"> 

     <table class="table-bordered table-striped">
      <thead>
        <tr>
          <th style="padding: 2px;">ಕ್ರಮಸಂಖ್ಯೆ</th>
          <th>ವಚನ</th>
        </tr>
      </thead>
      <tbody>
        <% @reviewed_vachanas.each do |rv| %>
        <tr>
         <td style="text-align: center;"><%= link_to rv.vachana.vachanaid, edit_user_review_vachana_path(current_user,rv) %></td>
         <td><%= link_to truncate(rv.review_vachana, length: 40), edit_user_review_vachana_path(current_user,rv) , class: "btn-link" %></td>
       </tr>
       <% end %>
     </tbody>
   </table>

 </div>

</div>
</div>