<div class="row">
  <div class="span6"> 
    <%= raw @vachana.vachana.gsub(/\n/, '<br />') %>
  </div>

  <div class="span6">
    <%= form_for [@reviewer,@review_vachana] do |f| %>
    <%= f.hidden_field :vachana_id, value: @vachana.id %>

    
    <%= f.text_area :review_vachana %>
    <%= f.text_field :review_vachanaid %>
    <%= f.submit %>
    <% end %> 

  </div>
</div>