
<div class="page-header">
<h1> Welcome <%= current_user.name %>  </h1>
</div>

<%= form_tag user_review_vachanas_path(current_user), method: :get  do %>
<%= select_tag :user_vachanakaara, options_from_collection_for_select(@vachanakaaras,  "id","name",params[:user_vachanakaara]) %>
<%= submit_tag "Select", class: "btn" %>

<% end %>


<table class="datatable">
  <thead>
    <tr>
      <th>vachanaid</th>
      <th>vachana</th>
    </tr>
  </thead>
  <tbody>
    <% @vachanas.each do |vachana| %>
    <tr>
      <td><%= link_to vachana.vachanaid, "#" %></td>
      <td><%= link_to truncate(vachana.vachana, length: 100), "#", class: "btn-link" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

