<%= render "layouts/back_button" %>
<div class="page-note" > 
  <p>  <strong> ಸೂಚನೆ </strong>:- ವಚನ ಸಂಚಯದ ಪರಿಷ್ಕರಣಾ ಕಾರ್ಯಕ್ಕೆ ಸಮಗ್ರ ವಚನ ಸಂಪುಟದ ಎರಡನೇ ಆವೃತ್ತಿಯನ್ನು ಮಾತ್ರ ಬಳಸಿ. </p>
</div>

<div class="page-header">
  <h2> ಸ್ವಾಗತ <%= current_user.name %>  </h2>
</div>

<div class="row">
 <%= render "review_left" %>


 <div class="span8">
   <%= form_for [@reviewer,@review_vachana], html: {class: "form-inline review-vachana"} do |f| %>
   <div class="reviewer-right-box"> 
    <div class="review-box">
     <div class="control-group">
       ಮೂಲ ವಚನ:
     </div> 
     <div class="original-vachana-box"> 
      <%= raw @vachana.vachana.gsub(/\n/, '<br />') %>
    </div>

    <div class="original-vachana-lable">
     ಸಂಪುಟದಲ್ಲಿ ವಚನದ ಕ್ರಮಸಂಖ್ಯೆ:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanaid %>
   </div> 

   <div class="original-vachana-lable">
     ವಚನಕಾರ:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanakaara.name %>
   </div> 
   <div class="original-vachana-lable">
     ಸಮಗ್ರ ವಚನ ಸಂಪುಟ:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanakaara.reference_book ? @vachana.vachanakaara.reference_book.book_volume : "--"%>
   </div> 

 </div>


 <div class="review-box"> 
  <%= f.hidden_field :vachana_id, value: @vachana.id %>
  <div class="control-group">
    ವಚನವನ್ನು ಪರಿಶೀಲಿಸಿ :
  </div>
  <div class="review-vachana-box">
    <%= f.text_area :review_vachana, value: @vachana.vachana  %>
  </div>

  <div class="review-vachana-lable">
    ಸಂಪುಟದಲ್ಲಿ ವಚನದ ಕ್ರಮಸಂಖ್ಯೆ: 
  </div>

  <div class="review-vachana-text">
    <%= f.text_field :review_vachanaid,  value: @vachana.vachanaid  %>
  </div>

  <div class="original-vachana-lable">
   ವಚನಕಾರ:
 </div> 

 <div class="original-vachana-input">
   <%= @vachana.vachanakaara.name %>
 </div> 
 <div class="original-vachana-lable">
   ಸಮಗ್ರ ವಚನ ಸಂಪುಟ:
 </div> 

 <div class="original-vachana-input">
   <%= @vachana.vachanakaara.reference_book ? @vachana.vachanakaara.reference_book.book_volume : "--"%>
 </div> 


</div>
<div class="review-comment">  
  <div class="original-vachana-lable">
    ನಿಮ್ಮ ಪ್ರತಿಕ್ರಿಯೆ/ಸಲಹೆ/ಟಿಪ್ಪಣಿ:
  </div> 

  <%= text_area_tag :comment %>
</div>
<div class="review-vachana-submit">
  <%= f.submit "ಉಳಿಸು" ,class: 'btn btn-primary' %>
  <%= link_to "ನಿಲ್ಲಿಸು", user_review_vachanas_path(current_user), confirm: "Are you sure ?", class: 'btn btn-danger' %>
</div>



</div>
<% end %> 

</div>
</div>









