<%= render "layouts/back_button" %>


<div class="page-header">
  <h2> Welcome <%= current_user.name %>  </h2>
</div>

<div class="row">
 <%= render "review_left" %>


 <div class="span8">
  <div class="reviewer-right-box"> 
    <div class="review-box">
     <div class="control-group">
       Original Vachana:
     </div> 
     <div class="original-vachana-box"> 
      <%= raw @vachana.vachana.gsub(/\n/, '<br />') %>
    </div>

    <div class="original-vachana-lable">
     Original Kramasanke:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanaid %>
   </div> 

   <div class="original-vachana-lable">
     Vachanakaara:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanakaara.name %>
   </div> 
   <div class="original-vachana-lable">
     Samputa:
   </div> 

   <div class="original-vachana-input">
     <%= @vachana.vachanakaara.reference_book ? @vachana.vachanakaara.reference_book.book_name : "--"%>
   </div> 

 </div>


 <% if params[:review] == "yes" %>
 <%= form_for [@reviewer,@review_vachana], html: {class: "form-inline"} do |f| %>
 <div class="review-box"> 
  <%= f.hidden_field :vachana_id, value: @vachana.id %>
  <div class="control-group">
    Review Vachana:
  </div>
  <div class="review-vachana-box">
    <%= f.text_area :review_vachana, value: @vachana.vachana  %>
  </div>

  <div class="review-vachana-lable">
    Review Kramasanke:
  </div>

  <div class="review-vachana-text">
    <%= f.text_field :review_vachanaid,  value: @vachana.vachanaid  %>
  </div>

  <div class="original-vachana-lable">
   Vachanakaara:
 </div> 

 <div class="original-vachana-input">
   <%= @vachana.vachanakaara.name %>
 </div> 
 <div class="original-vachana-lable">
   Samputa:
 </div> 

 <div class="original-vachana-input">
   <%= @vachana.vachanakaara.reference_book ? @vachana.vachanakaara.reference_book.book_name : "--"%>
 </div> 


</div>

<div class="review-vachana-submit">
  <%= f.submit "Update" ,class: 'btn btn-primary' %>
  <%= link_to "Cancel", user_review_vachanas_path(current_user), confirm: "Are you sure ?", class: 'btn btn-danger' %>
</div>
<% end %> 

<% else %>
<div class="review_button"> 
  <%= link_to "Review",  new_user_review_vachana_path(current_user,vachana_id: @vachana.id, review: "yes"),  class: "btn" %>
</div>
<% end %>


</div>

</div>
</div>









