<!DOCTYPE html>
<html>
<head>
  <title>ವಚನ ಸಂಚಯ - ವಚನ ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಮತ್ತು ಅಧ್ಯಯನ ತಾಣ   (beta v0.3.0)  </title>
  <link rel="shortcut icon" href="http://faviconist.com/icons/2ad5b81347f42aea629115aefbf8e4f2/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
	<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  </div>
  <% end %>
  <% end %>

  <div class="navbar">
    <div class="navbar-inner">
     <%#= link_to "ವಚನ ಸಂಚಯ", root_path, class: "brand" %> 
     <a href="<%= root_path %> " class="brand">
      ವಚನ ಸಂಚಯ<sub> beta v0.3.0 </sub>
    </a>
    <%#= link_to "#{t :vachanakaararu}", vachanakaaras_path, class: "brand" %>

    <ul class="nav">
      <li class= <%= params[:controller] == "vachanakaaras" ? "active" : "" %> ><%= link_to "ವಚನಕಾರರು", vachanakaaras_path %> </li>
      <li class= <%= params[:controller] == "vachanas" ? "active" : "" %> ><%= link_to "ವಚನಗಳು", vachana_concord_vachanas_path %> </li>
      <li class= <%= params[:controller] == "researches" ? "active" : "" %> ><%= link_to "ಸಂಶೋಧನೆ", researches_path %>  </li>
      <li class= <%= params[:controller] == "glossaries" ? "active" : "" %> ><%= link_to "ಪದಕೋಶ", glossaries_path %>  </li>
      <li class= <%= params[:action] == "contact_us" ? "active" : "" %> ><%= link_to "ಸಂಪರ್ಕಿಸಿ" , contact_us_path %></li>
      <li class= <%= params[:action] == "help" ? "active" : "" %> ><%= link_to "ಸಹಾಯ" , help_path %></li>
      <li class= <%= params[:action] == "about_us" ? "active" : "" %> ><%= link_to "ನಮ್ಮ ಬಗ್ಗೆ" , about_us_path %></li>

      <% if current_user %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          ನಿರ್ವಾಹಕ 
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
         <li> <%= link_to "ಹೊರನೆಡೆ", destroy_user_session_path, method: :delete %> </li>
         <li> <%= link_to "ಪೂರ್ಣಪಠ್ಯ ಹುಡುಕು", search_vachana_vachanas_path %> </li>
         <% if current_user.is_admin? %>
         <li> <%= link_to "ನಿರ್ವಹಣಾ ಸಲಕರಣೆಗಳು", admin_panel_path %> </li>

         <% elsif current_user.is_reviewer? %>
         <li><%= link_to "ವಚನವನ್ನು ಪರಿಶೀಲಿಸಿ", user_review_vachanas_path(current_user) %> </li>
         <% elsif current_user.is_publisher? %>
         <li><%= link_to "ಪರಿಶೀಲಿಸಿದ ವಚನಗಳು ", user_publishers_path(current_user)  %> </li>
         <li><%= link_to "ಬಳಕೆದಾರರು", users_path %> </li>
         <% end %>
         <li> <%= link_to "ಗುಪ್ತಪದ ಬದಲಾಯಿಸು", edit_user_registration_path %> </li>
       </ul>
       
     </li>

     <% end %>

   </ul>
   <ul class="nav" style="float: right;">
    <li>
      <%= link_to("http://www.facebook.com/vachanasanchaya", target: "_blank" , class: "social-nav-right ") do %>
      <i class="fa fa-facebook fa-2x"></i>
      <% end %>
    </li>
    <li>
      <%= link_to("http://twitter.com/vachanasanchaya" , target: "_blank",class: "social-nav-right ") do %>
      <i class="fa fa-twitter fa-2x"></i> 
      <% end %>
    </li>

    <li>
      <%= link_to("https://plus.google.com/share?url=http://vachana.sanchaya.net" , target: "_blank",class: "social-nav-right ") do %>
      <i class="fa fa-google-plus fa-2x"></i> 
      <% end %>
    </li>

  </ul>
</div>




</div>
<div class="container">

  <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
