<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ವಚನ ಸಂಚಯ - ವಚನ ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಮತ್ತು ಅಧ್ಯಯನ ತಾಣ   (beta v0.3.1)  </title>
  <link rel="shortcut icon" href="http://faviconist.com/icons/2ad5b81347f42aea629115aefbf8e4f2/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
	<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  </div>
  <% end %>
  <% end %>

  <%= render 'layouts/nav_bar' %>
  <div class="container">
    <div> 
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <!-- vachana_sanchaya -->
     <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1353760168288109"
     data-ad-slot="8152464539"
     data-ad-format="auto"></ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </div>

  <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
