<!DOCTYPE html>
<html>
<head>
  <title>ವಚನ ಸಂಚಯ - ವಚನ ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಮತ್ತು ಅಧ್ಯಯನ ತಾಣ   (beta v0.1.4)  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
	<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  </div>
  <% end %>
  <% end %>

  <div class="navbar">
    <div class="navbar-inner">
     <%#= link_to "ವಚನ ಸಂಚಯ", root_path, class: "brand" %> 
     <a href="<%= root_path %> " class="brand">
      ವಚನ ಸಂಚಯ<sub> beta v0.1.4 </sub>
    </a>
    <%#= link_to "#{t :vachanakaararu}", vachanakaaras_path, class: "brand" %>

    <ul class="nav">
      <li class= <%= params[:controller] == "vachanakaaras" ? "active" : "" %> ><%= link_to "ವಚನಕಾರರು", vachanakaaras_path %> </li>
      <li class= <%= params[:controller] == "vachanas" ? "active" : "" %> ><%= link_to "ವಚನಗಳು", vachana_concord_vachanas_path %> </li>
      <li class= <%= params[:controller] == "researches" ? "active" : "" %> ><%= link_to "ಸಂಶೋಧನೆ", researches_path %>  </li>
      <li class= <%= params[:controller] == "glossaries" ? "active" : "" %> ><%= link_to "ಪದಕೋಶ", glossaries_path %>  </li>
      <li class= <%= params[:action] == "contact_us" ? "active" : "" %> ><%= link_to "ಸಂಪರ್ಕಿಸಿ" , contact_us_path %></li>
      <li class= <%= params[:action] == "help" ? "active" : "" %> ><%= link_to "ಸಹಾಯ" , help_path %></li>
      <li class= <%= params[:action] == "about_us" ? "active" : "" %> ><%= link_to "ನಮ್ಮ ಬಗ್ಗೆ" , about_us_path %></li>

      <% if current_user %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Admin 
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
         <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
         <% if current_user.is_admin? %>
         <li> <%= link_to "Admin Panel", admin_panel_path %> </li>
         <% elsif current_user.is_reviewer? %>
         <li><%= link_to "Review vachanas", user_review_vachanas_path(current_user) %> </li>
         <li><%= link_to "Reviewed vachanas", reviewed_vachanas_user_review_vachanas_path(current_user) %> </li>

         
         <% elsif current_user.is_publisher? %>
         <li><%= link_to "Reviewed vachanas", user_publishers_path(current_user)  %> </li>
         <li><%= link_to "Published vachanas", published_vachanas_user_publishers_path(current_user)  %> </li>
         <% end %>
       </ul>
     </li>



     <% end %>


   </ul>
   <ul class="nav" style="float: right;">
    <li>
      <%= link_to image_tag("fb1.jpg"), "http://www.facebook.com/vachanasanchaya", target: "_blank" , class: "social-nav-right " %>
    </li>
    <li>
      <%= link_to image_tag("twitter1.jpg"), "http://twitter.com/vachanasanchaya" , target: "_blank",class: "social-nav-right " %>
    </li>
    <li class="social-nav-right ">
      <div class="g-plusone " data-href="http://vachana.sanchaya.net" ></div>
    </li>

  </ul>
</div>



</div>
<div class="container">


  <%= yield %>


  <!-- <div class="navbar navbar-fixed-bottom" style="margin-top: 10px;">
    <div class="navbar-inner">
    </div>
  </div> -->

  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>


</body>
</html>
